@media (prefers-color-scheme: no-preference) {
	:root {
		--site-bgcolor: #f9f9f9;
		--site-color: #000c07;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--site-bgcolor: rgb(16, 20, 23);
		--site-color: #eee;
	}
	
	code { 	
		background:#000c07;
		border: 1px solid #0e0e0e; 
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--site-bgcolor: #f9f9f9;
		--site-color: rgb(16, 20, 23)
	}
}

body, .dark {
	background-color: var(--site-bgcolor, #f9f9f9);
	color: var(--site-color, rgb(16, 20, 23));
	fill: var(--site-color, rgb(16, 20, 23));
}

