.site-header {
	padding: 0, 10%;
	height: 5rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	text-align: center;
	z-index: 1000;
	transition: top 0.3s;
}

.site-title:link, .site-title:visited, .site-title:hover, .site-title:active {
	text-decoration:none;
	font-weight: 600;
	position: relative;
	top: 0.8rem;
	color: inherit;
}
