
.site-header {
	height: 5rem;
	width: 100%;
	position: relative;
	left: -25px;
	text-align: right;
	z-index: 1000;
}

.site-title:link, .site-title:visited, .site-title:hover, .site-title:active {
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	top: 2rem;
	color: inherit;
}

img[src=""] {
    display: none;
}
