
/* Syntax highlighting styles should be adjusted appropriately for every "skin"
   ---------------------------------------------------------------------------- */

.c     { color: #75715E; }                               /* Comment */
.err   { color: #F8F8F0; background-color: #F92672 }   /* Error */                        /* Keyword */
.o     { font-weight: bold } /* Operator */
.cm    { color: #998; } /* Comment.Multiline */
.cp    { color: #999; font-weight: bold } /* Comment.Preproc */
.c1    { color: #998; } /* Comment.Single */
.cs    { color: #999; font-weight: bold; } /* Comment.Special */
.gd    { color: #000; background-color: #fdd } /* Generic.Deleted */
.gd .x { color: #000; background-color: #faa } /* Generic.Deleted.Specific */
.ge    { font-style: italic } /* Generic.Emph */
.gr    { color: #F92672 }                                /* Generic.Error */
.gh    { color: #999 } /* Generic.Heading */
.gi    { color: #000; background-color: #dfd } /* Generic.Inserted */
.gi .x { color: #000; background-color: #afa } /* Generic.Inserted.Specific */
.go    { color: #888 } /* Generic.Output */
.gp    { color: #555 } /* Generic.Prompt */
.gs    { font-weight: bold } /* Generic.Strong */
.gu    { color: #aaa } /* Generic.Subheading */
.gt    { color: #a00 } /* Generic.Traceback */
.k     { color: #0086B3; }
.kc    { color: #684d99 }                                /* Keyword.Constant */
.kd    { font-weight: bold } /* Keyword.Declaration */
.kp    { font-weight: bold } /* Keyword.Pseudo */
.kr    { font-weight: bold } /* Keyword.Reserved */
.kn    { color: #F92672 } 
.kt    { color: #458; font-weight: bold } /* Keyword.Type */
.m     { color: #684d99 }                                /* Literal.Number */
.s     { color: #998f2f }                                /* Literal.String */
.n     { color: #07070d }
.na    { color: #008080 } /* Name.Attribute */
.nb    { color: #0086B3 } /* Name.Builtin */
.nc    { color: #679c00; }             /* Name.Class */
.no    { color: #684d99 }                                /* Name.Constant */
.ni    { color: #800080 } /* Name.Entity */
.ne    { color: #900; font-weight: bold } /* Name.Exception */
.nf    { color: #679c00; }                               /* Name.Function */
.nn    { color: #555 } /* Name.Namespace */
.nt    { color: #679c00; }                               /* Name.Tag */
.nv    { color: #49483e } 
.o     { color: #F92672 }                              /* Name.Variable */
.ow    { color: #F92672 }  /* Operator.Word */
.p     { color: #07070d }
.w     { color: #bbb } /* Text.Whitespace */
.mf    { color: #684d99 } /* Literal.Number.Float */
.mh    { color: #684d99 } /* Literal.Number.Hex */
.mi    { color: #684d99 } /* Literal.Number.Integer */
.mo    { color: #684d99 } /* Literal.Number.Oct */
.sb    { color: #998f2f }                                /* Literal.String.Backtick */
.sc    { color: #998f2f }                                /* Literal.String.Char */
.sd    { color: #998f2f }                                /* Literal.String.Doc */
.s2    { color: #998f2f }                                /* Literal.String.Double */
.se    { color: #998f2f }                                /* Literal.String.Escape */
.sh    { color: #998f2f }                                /* Literal.String.Heredoc */
.si    { color: #998f2f }                                /* Literal.String.Interpol */
.sx    { color: #998f2f }                                /* Literal.String.Other */
.sr    { color: #009926 } /* Literal.String.Regex */
.s1    { color: #998f2f }                                /* Literal.String.Single */
.ss    { color: #990073 } /* Literal.String.Symbol */
.bp    { color: #999 } /* Name.Builtin.Pseudo */
.vc    { color: #679c00 }                                /* Name.Variable.Class */
.vg    { color: #49483e }                                /* Name.Variable.Global */
.vi    { color: #49483e }                                /* Name.Variable.Instance */
.il    { color: #099 } /* Literal.Number.Integer.Long */
